body {
  margin: 50px;
}

p {
  font-family: Sitka, Garamond, serif;
  margin: 20px, 0px;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px, 0px, 50px;
  color: AliceBlue;
  background: MediumBlue;
  padding: 10px;
}

h2 {
  margin: 50px, 0px, 20px;
  border-bottom: solid 2px MediumBlue;
  padding-bottom: 4px;
}

a {
  color: inherited;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: CornflowerBlue;
}

a:visited {
  font-style: italic;
}

a:active {
  font-size: 2em;
  color: MediumBlue;
}

quote {
  border-bottom: solid 2px Navy;
  font-family: Lucida Console, Courier New, monospace;
}

table {
  margin: auto;
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
  padding: 2px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

tr {
  background: #CFF;
  margin: 2px 0px;
  padding: 2px 0px;
}

tr:first {
  border-bottom: solid 1px blue;
}

th, td {
  text-align: center;
}

th {
  font-weight: bold;
  text-shadow: 1px 1px LightBlue;
}

td {
  padding-left: 3px;
  padding-right: 3px;
}
