body {
  margin: 50px;
}

p {
  font-family: Sitka, Garamond, serif;
  margin: 20px, 0px;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px, 0px, 50px;
  color: AliceBlue;
  background: MediumBlue;
  padding: 10px;
}

h2 {
  margin: 50px, 0px, 20px;
  border-bottom: solid 2px MediumBlue;
  padding-bottom: 4px;
}

a {
  color: inherited;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: CornflowerBlue 0.5em;
}

a:visited {
  text-decoration: italic;
}

a:active {
  font-size: 2em;
}


